*{
  margin: 15px;
  border: 5px,
  solid,
  black;
}

.header{
  text-align: center;
}

.skill{
  box-shadow: 3px 5px 3px 5px cadetblue;
  border: 5px, solid, black;
}

.benefits, .descript{
  color: blue;
}